.exchange-rate {
  width: 300px;
  height: auto;
  margin: 0 auto 5em;
  padding: 2em 1em;
  border-radius: 15px;
  border-style: double;
  border-color: var(--light-secondary-color);
  background-color: var(--light-secondary-color);
  background-image: linear-gradient(180deg, var(--light-secondary-color) 0%, var(--light-primary-color) 99%);
}
.exchange-rate h1 {
  color: var(--primary-color);
  user-select: none;
  padding-bottom: 1em;
}
.exchange-rate div {
  margin: .5em;
}
.currency select:focus,
.currency input:focus,
.currency button:focus {
  outline: 0;
}
.currency-bg {
  background: rgba(70, 130, 180, 0.5);
  border-radius: 10px;
  padding: 1em;
}
.currency select {
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  border: none;
  overflow:hidden;
  pointer-events: none;
  font-weight: bold;
  color: var(--primary-color);
}
.currency input {
  color: var(--primary-color);
}
#amount-one, #amount-two {
  max-width: 120px;
}
.currency-two input::-webkit-outer-spin-button,
.currency-two input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
.currency-two input[type="number"] {
  -moz-appearance: textfield;
}