.exchange-rate {
  max-width: 226px;
  min-width: 225px;
  height: auto;
  margin: 100px auto 200px;
  padding: 2em 1em;
  border-radius: 15px;
  border-style: double;
  border-color: var(--light-secondary-color);
  background-color: var(--light-secondary-color);
  background-image: linear-gradient(180deg, var(--light-secondary-color) 0%, var(--light-primary-color) 99%);
}
.exchange-rate h3 {
  color: var(--primary-color);
  user-select: none;
}
.exchange-rate div {
  margin: .5em;
}
.currency select:focus,
.currency input:focus,
.currency button:focus {
  outline: 0;
}
.currency select {
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  border: none;
  overflow:hidden;
  pointer-events: none;
  font-weight: bold;
  color: var(--primary-color);
}
.currency input {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: var(--primary-color);
}
#amount-one, #amount-two {
  max-width: 120px;
}
.input-number {
  border-bottom: 2px solid var(--primary-color) !important;
  border-radius: 4px;
}
.currency-two input::-webkit-outer-spin-button,
.currency-two input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
.currency-two input[type="number"] {
  -moz-appearance: textfield;
}
.er-btn {
  min-width: 65px;
  min-height: 20px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border: 0;
  background-image: linear-gradient(0deg, var(--light-secondary-color) 0%, var(--light-primary-color) 50%);
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: var(--light-tertiary-color);
  padding: 6px 12px;
  margin-top: 1em;
}
.er-btn:hover {
  font-weight: bold;
}