.imageContainer {
  position: relative;
  max-width: 90vw;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
  border-style: double;
  border-color: var(--light-secondary-color);
  background-color: var(--light-secondary-color);
  background-image: linear-gradient(180deg, var(--light-secondary-color) 0%, var(--light-primary-color) 99%);
}
.imageContainer h1, .modal h2 {
  margin: auto;
}
.imageContainer h1 {
  color: var(--light-primary-color);
  user-select: none;
}
.imageContainer a {
  width: fit-content;
  font-size: larger;
  color: var(--light-primary-color);
}
#imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;/* For Firefox */
  -ms-overflow-style: none;/* For Internet Explorer and Edge */
}
#imageContainer::-webkit-scrollbar {
  display: none;
}
#scrollLeft {
  left: 0;
  top: 50%;
  margin-left: 2em;
}
#scrollRight {
  right: 0;
  top: 50%;
  margin-right: 2em;
}
#imageContainer img:first-child {
  margin-left: auto;
}
img {
  width: 200px;
  height: 300px;
  margin: 0 5px 0 auto;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.modal {
  margin: 70px auto;
  padding: 20px;
  color: white;
  background: rgb(0, 0, 25);
  border-radius: 5px;
  width: 700px;
  max-width: 80vw;
  position: relative;
  transition: all 5s ease-in-out;
}
.modal h2 {
  margin: 1em auto;
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.modal .close:hover {
  color: red;
}
.modal .content {
  height: 500px;
  max-height: 80vh;
  overflow: auto;
}
.content p {
  margin: 2em 0;
}
.content li {
  text-align: left
}
.content {
  padding-bottom: 2em;
}
.highlight {
  color: var(--light-tertiary-color);
  font-weight: bolder;
}
.content input[type=text] {
  margin: 1em auto;
}
.imageContainer a {
  margin: 2em 0;
}
.icons {
  width: fit-content;
  margin: auto;
}
.icons > .iconShow,
.icons:hover > .iconHide,
.icons:focus > .iconHide {
  display: none;
}
.icons:focus > .iconShow,
.icons:hover > .iconShow {
  display: inline-block;
}
.scroll-btn:hover {
  color: var(--light-tertiary-color);
}